<div *ngIf="data.length > 0" class="card">
  <h1>Scan Results</h1>
    <div class="div-style" *ngIf="errors.length > 0">
        <h2>
            <span>
                <i class="fa fa-exclamation-circle error-icon-style" aria-hidden="true"></i>Errors
            </span>
        </h2>
        <p-table [value]="errors" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="repository">Repository <p-sortIcon field="repository"></p-sortIcon></th>
                    <th pSortableColumn="error">Error <p-sortIcon field="error"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{rowData.repository}}</td>
                    <td>{{rowData.error}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div>
        <p-accordion *ngFor="let repo of data" [multiple]="true">
          <p-accordionTab *ngIf="repo.error === ''" header="{{repo.repository}}">
                <p-table [value]="flattenedData" [paginator]="true" [rows]="10" styleClass="p-datatable-striped p-datatable-gridlines"
                [showCurrentPageReport]="true" responsiveLayout="scroll" [resizableColumns]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"> <!--[columns]="selectedColumns"-->
                <!--<ng-template pTemplate="caption">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                    </p-multiSelect>
                </ng-template>-->
                <ng-template pTemplate="header"> <!--let-columns-->
                    <tr>
                        <th pResizableColumn style="flex-basis:25%" pSortableColumn="origin">Origin
                            <p-sortIcon field="origin"></p-sortIcon></th>
                        <th pResizableColumn style="flex-basis:25%" pSortableColumn="branch">Branch
                            <p-sortIcon field="branch"></p-sortIcon></th>
                        <th pResizableColumn style="flex-basis:25%" pSortableColumn="checkName">Checkname
                            <p-sortIcon field="checkName"></p-sortIcon></th>
                        <!--<th pResizableColumn style="flex-basis:25%" pSortableColumn="col.field" *ngFor="let col of columns">
                            {{col.header}} <p-sortIcon field="col.field">
                            </p-sortIcon>
                        </th>-->
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="authorEmail">Author Email
                            <p-sortIcon field="authorEmail"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="authorName">Author Name
                            <p-sortIcon field="authorName"></p-sortIcon></th>
                        <th *ngIf="isUnicodeSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="character">Character
                            <p-sortIcon field="character"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="commiterEmail">Commiter Email
                            <p-sortIcon field="commiterEmail"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="commitMessage">Commit Message
                            <p-sortIcon field="commitMessage"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="commiterName">Commiter Name
                            <p-sortIcon field="commiterName"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="commitSize">Commit Size
                            <p-sortIcon field="commitSize"></p-sortIcon></th>
                        <th *ngIf="isBinariesSearch() || isUnicodeSearch() || isBigFileSearch()" pResizableColumn style="flex-basis:25%"
                            pSortableColumn="filemode">File Mode <p-sortIcon field="filemode"></p-sortIcon></th>
                        <th *ngIf="isBinariesSearch() || isUnicodeSearch() || isBigFileSearch()" pResizableColumn style="flex-basis:25%"
                            pSortableColumn="filesize">File Size <p-sortIcon field="filesize"></p-sortIcon></th>
                        <th *ngIf="isCommitSearch()" pResizableColumn style="flex-basis:25%" pSortableColumn="numberOfParents">Number of Parents
                            <p-sortIcon field="numberOfParents"></p-sortIcon></th>
                        <th pResizableColumn style="flex-basis:25%" pSortableColumn="acknowledged">Acknowledged <p-sortIcon field="acknowledged">
                        </p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data> <!--let-columns="columns"-->
                    <tr>
                        <td style="flex-basis:25%">{{data.origin}}</td>
                        <td style="flex-basis:25%">{{data.branch}}</td>
                        <td style="flex-basis:25%">{{data.checkName}}</td>
                        <!--<td *ngFor="let col of columns">
                            {{data[col.field]}}
                        </td>-->
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.authorEmail}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.authorName}}</td>
                        <td style="flex-basis:25%" *ngIf="isUnicodeSearch()">{{data.character}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.commiterEmail}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.commitMessage}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.commiterName}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.commitSize}}</td>
                        <td style="flex-basis:25%" *ngIf="isBinariesSearch() || isUnicodeSearch() || isBigFileSearch()">{{data.filemode}}</td>
                        <td style="flex-basis:25%" *ngIf="isBinariesSearch() || isUnicodeSearch() || isBigFileSearch()">{{data.filesize}}</td>
                        <td style="flex-basis:25%" *ngIf="isCommitSearch()">{{data.numberOfParents}}</td>
                        <td>
                          <p-checkbox [binary]="true" [(ngModel)]="data.acknowledged" (onChange)="updateAcknowledgedStatus(data.id, data.acknowledged)">
                          </p-checkbox>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No issues found.</td>
                    </tr>
                </ng-template>
            </p-table>
          </p-accordionTab>
      </p-accordion>
    </div>
</div>
<p-toast position="center" key="acknowledgedError"></p-toast>
